<a href="https://colab.research.google.com/github/Afungchwi/WTMGDG-Bambili-30-Days-of-Code-Data-Science/blob/main/Day_4_30_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list1 = ['hello','i am', 'called', 'Olivian', 'Afungchwi', 3.5, 2.91, 4.9, 2.22, 3.57, 3, 6, 7, 8]

In [4]:
var1 = ["Hello" + " world"]
list0 = list1 + var1
print(list0)

['hello', 'i am', 'called', 'Olivian', 'Afungchwi', 3.5, 2.91, 4.9, 2.22, 3.57, 3, 6, 7, 8, 'Hello world']

In [6]:
list4 = [1,2,3,4,5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,'we','are', 'the','wtm bili']

In [7]:
list5 = list1 + list4
print(list5)

['hello', 'i am', 'called', 'Olivian', 'Afungchwi', 3.5, 2.91, 4.9, 2.22, 3.57, 3, 6, 7, 8, 1, 2, 3, 4, 5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 'we', 'are', 'the', 'wtm bili']

In [12]:
list2 = [ 5, 6, 7.0, "Eight", "Nine"]
list3 = [type(item)for item in list2]
print(list3)

[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]